# Virtual environments
.venv/
venv/
env/

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Jupyter
.ipynb_checkpoints/

# Pytest / coverage
.pytest_cache/
.coverage
htmlcov/

# IDE files
.idea/
.vscode/

# Build / package files
build/
dist/
*.egg-info/

# Logs
*.log

# Temporary files
*.tmp
*.bak
*.swp

# Local data/cache folders if you create them
data/
cache/
.cache/

pledge.txt